$section-secondary-color: #fafafa;
$link-hover-color: #2980b9;

$text-primary-color: #2c3e50;
$text-secondary-color: #515050;
$text-tertiary-color: #7f8c8d;

$box-shadow-pixel: -6px 0 0 0 white, 6px 0 0 0 white, 0 -6px 0 0 white, 0 6px 0 0 white;
